*.d
*.o
*.crf

SN50V3-NB/MDK-ARM/NBSN95/NBSN95_NBSN95.dep
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.axf
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.build_log.htm
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.hex
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.htm
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.lnp
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.map
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.sct

SN50V3-NB/MDK-ARM/NBSN95.uvguix.*
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE.bin
SN50V3-NB/MDK-ARM/NBSN95/SN50V3-NB-GE_sct.Bak

